<div id="OuterWrapper">

	<div id="Slogan">{% give_me node 'Slogan' %}{{ the_node.content[0] | live }}</div>

	<div id="Marble" class="shadow">
		{% if node.content[2] %}
			<img id="Image" src="{{ node.content[2].path_tna }}" />
		{% else %}
			<img id="Image" src="/t/images/image-default.jpg" />
		{% endif %}
		
		<div id="Lang" class="fontGeor">
			<a href="/en"> <img src="/t/images/flag-en.png"> english </a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/cz"> <img src="/t/images/flag-cz.png"> česky </a>
		</div>
	</div>
	
	<div id="Menu">
		{% for n in section_pages.roots %}
		   <a href="{{n.path}}"> {{n.title}} </a>
		   {% unless forloop.last %}&nbsp; | &nbsp;{% endunless %}
		{% endfor %}
	</div>
	
	<div id="InnerWrapper">
		<div id="LeftColumn" class="shadow">
			<div class="inner">
				
				{{ node.content[0] | md | live }}
								
			</div>
		</div>
		<div id="RightColumn" class="shadow">
			<div class="inner">
				
				{{ node.content[1] | md | live }}
				
			</div>
		</div>
		<div class="clear"> </div>
	</div>
	
	<div id="Footer">
		<img src="/t/images/icon-logo.png" alt="Logo"/>
		{% give_me node 'footer-address' %} {{ the_node.content[0] | md | live }}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<img src="/t/images/icon-phone.png" alt="Logo"/>
		{% give_me node 'footer-phone' %} {{ the_node.content[0] | md | live }}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<img src="/t/images/icon-email.png" alt="Logo"/>
		{% give_me node 'footer-email' %} {{ the_node.content[0] | md | live }}
	</div>
	
</div>