<%= form_for @item, :url=>editor_gallery_file_record_path(@gallery,@item), :remote=>true do |f| %>

<table class="wakeThemeForm">
	<tr>
		<th> Filename: </th>
		<td> <%= f.text_field 'basename', :size=>24 %> <%= f.text_field 'extname', :size=>2 %> </td>
	</tr>
	<tr>
		<th> Title: </th>
		<td> <%= f.text_field 'title' %> </td>
	</tr>
	<% if @item.is_image? %>
		<tr/>
		  <th> Rotate: </th>
			<th> 
				<%= link_to 'LEFT', '' %>
				&nbsp;
				<%= link_to 'RIGHT', '' %>
			</th>
		</tr>
		<tr/>
		  <th> Download: </th>
			<th>
				<% for x in ['orig']+Elastic::Gallery::VARIANTS %>
				  <%= link_to x.upcase, @item.path(x) %>&nbsp;
				<% end %>
				<%=number_to_human_size File.size(@item.filepath)%>
			</th>
		</tr>
	<% end %>
	<tr/>
	  <th> <small>id = <%= @item.id %></small> </th>
		<th> 
		  <%= submit_tag 'OK' %> &nbsp; 
		  <%#= link_to 'DOWNLOAD', editor_gallery_file_record_path(@gallery,@item) %>
		  <%#= link_to 'DESTROY', editor_gallery_file_record_path(@gallery,@item), :method=>:delete %>
		</th>
	</tr>
</table>
	
  
	
<% end %>
