<% fr = item = file_record_list_item %>
<% gallery = @gallery||@item %>

<% extname = File.extname(fr.filename).upcase %>

<div id="<%=dom_id fr%>" class="<%='active' if @item and @item.id == item.id %> <%=fr.is_image? ? 'imageItem' : 'fileItem' %>" index="<%= fr.id %>">

	<div id="<%=dom_id item%>-inside"></div>
	<div id="<%=dom_id item%>-form"  class="popup form-container">
		<%#= render :partial=>'file_record_inline_form' if @item and item.id == @item.id%>
	</div>

	<% if fr.is_image? %>	
		<div class="controls">
			<%= link_to ico(:pen)+'EDIT', edit_editor_gallery_file_record_path(gallery,item), :remote=>true %>
			<%= link_to ico(:eye)+'SHOW', item.path('orig') %>
		</div>
		
	
	  <% 
	   if gallery.has_variant? :tnb
		   html = raw("
		     <img class=\"tna\" src=\"#{fr.path(:tna)}?#{rand}\" 
				   onclick=\"$('##{dom_id fr}').toggleClass('active');\"/>
				 <img class=\"tnb\" src=\"#{fr.path(:tnb)}?#{rand}\" 
				   onclick=\"$('##{dom_id fr}').toggleClass('active');\"/>
				")
			else
		   html = raw("<img src=\"#{fr.path(:tna)}?#{rand}\" 		     
				 onclick=\"$('##{dom_id fr}').toggleClass('active');\"
		     />")
			end
	  %>
	
		<%#= fr.path(:tnb) %>
	  <%= html %>
	
		<%#= link_to html, edit_editor_gallery_file_record_path(@gallery||@item,item), :remote=>true %>
		
		
	<% else %>
	  <%= link_to fr.filename.gsub(/\..*$/,''), edit_editor_gallery_file_record_path(@gallery||@item,item), :remote=>true %>
	  &nbsp;
		<b><%= extname.gsub(/^\./,'') %></b>
	<% end %>


	<!-- <div id="<%=dom_id fr%>-inside" class="popup">
		<% if @item and item.id == @item.id %>
			<div id="<%=dom_id item %>-form" class="form-container">
				<%#= render :partial=>'file_record_inline_form' %>
			</div>
		<% else %>	
			<div id="<%=dom_id item%>-form"  class="form-container">
			</div>
		<% end %>
	</div>
 -->
	
</div>

