<% fr = item = file_record_list_item %>
<% gallery = @gallery||@item %>

<% extname = File.extname(fr.filename).upcase %>

<div id="<%=dom_id fr%>" class="<%='active' if @item and @item.is_a? Elastic::FileRecord and @item.id == item.id %> <%=fr.is_image? ? 'imageItem' : 'fileItem' %> <%='title' if item.is_title? %>" index="<%= fr.id %>" title="<%= fr.filename %>">

	<div id="<%=dom_id item%>-inside"></div>
	<div id="<%=dom_id item%>-form"  class="popup form-container">
		<%#= render :partial=>'file_record_inline_form' if @item and item.id == @item.id%>
	</div>

	<% if fr.is_image? %>	
		<div class="controls">
			<%= link_to ico(:pen)+'EDIT', edit_editor_gallery_file_record_path(gallery,item), :remote=>true %>
			<%= link_to ico(:camera)+(item.is_title? ? 'UNSET' : 'TITLE'), toggle_title_editor_gallery_file_record_path(gallery,item), :method=>:post %>
			<% for x in %w{ orig img tna tnb } %>
				<%= link_to ico(:eye)+x.upcase, item.path(x) if gallery.has_variant? x %>
			<% end %>
			
			<%#= link_to ico(:star)+'STAR', toggle_star_editor_gallery_file_record_path(gallery,item), 
				:remote=>true, :method=>:post %>
			<%#= link_to ico(:cog)+'PROCESS', editor_gallery_file_record_path(gallery,item) %>
		</div>		
		<% if item.is_star? %>
			<div style="position: absolute; padding: 1px; background: white; bottom: 0px; right: 0px; ">
				<%= ico(:star,:black) %>
				<%#= link_to ico(:star,:black), toggle_star_editor_gallery_file_record_path(gallery,item), :remote=>true, :method=>:post %>
			</div>
		<% end %>
	
	  <% 
	   if gallery.has_variant? :tna and gallery.has_variant? :tnb
		   html = raw("
		     <img class=\"tna\" src=\"#{fr.path(:tna)}?#{rand}\" 
				   onclick=\"$('##{dom_id fr}').toggleClass('active');\"/>
				 <img class=\"tnb\" src=\"#{fr.path(:tnb)}?#{rand}\" 
				   onclick=\"$('##{dom_id fr}').toggleClass('active');\"/>
				")
			elsif gallery.has_variant? :tna
		   html = raw("<img src=\"#{fr.path(:tna)}?#{rand}\" 		     
				 onclick=\"$('##{dom_id fr}').toggleClass('active');\"
		     />")
		  elsif gallery.has_variant? :img
		   html = raw("<img src=\"#{fr.path(:img)}?#{rand}\" 		     
				 onclick=\"$('##{dom_id fr}').toggleClass('active');\"
		     />")
			else
		   html = raw("<img class=\"variantOrig\" src=\"#{fr.path(:orig)}?#{rand}\" 		     
				 onclick=\"$('##{dom_id fr}').toggleClass('active');\"
		     />")
			end
	  %>
	
	  <%= html %>
			
	<% else %>
		<div class="controls">
			<%= link_to ico(:pen), edit_editor_gallery_file_record_path(gallery,item), :remote=>true %>
			&nbsp;
			<%= link_to ico(:download), item.path('orig') %>
			&nbsp;
			<%= link_to ico(:camera), toggle_title_editor_gallery_file_record_path(gallery,item), :method=>:post %>		
		</div>

		<div class="details" onclick="$('#<%=dom_id fr%>').toggleClass('active');">			
		  <%= fr.basename %>
		  &nbsp;
			<b><%= extname.gsub(/^\./,'') %></b>
		</div>		
	<% end %>

	
</div>

