	<h4 class=""><%= content_config.title %></h4>
	
	<% if not content_config.gallery %>
  	<%=werror 'Linked gallery not present.' %>
    <%= link_to 'Check content config.', master_section_path(content_config.section) if Elastic::Context.user.master? %>
	<% elsif content_config.meta['variant'].blank? %>
		<%=werror 'Which variant to use?.' %>
    <%= link_to 'Check content config.', master_section_path(content_config.section) if Elastic::Context.user.master? %>
	<% else %> 
	  <% if content and content.reference %>
			<% src = content.reference.path content_config.meta['variant'] %>
			<img src="<%= src %>" alt="<%= content.reference.filename %>"/><br/>
		<% else %>
		<% end %>
	
		Upload: <%= form_helper.file_field 'file' %> &nbsp;&nbsp;
		
		<% if content and content.reference %> 
			<%= form_helper.check_box :reference_remove, {}, nil %> Remove. &nbsp;&nbsp;
		<% end %>
		
		<%= link_to ico(:link)+'GO TO GALLERY', editor_gallery_path(content_config.gallery), :class=>'button' %>
	<% end %>

 <br/><br/>