<h1>Hello from test1 theme</h1>

<h3>{{ section_hukot.nodes }}</h3>

<h3>{{ site..title }}</h3>

ty vole

<br/>

{% for n in section_hukot.nodes %}

  <div style="background: cyan; margin: 1em; ">
	
	   <p>1: {{ n.contents[0] }} </p>
	   <p>2: {{ n.contents[1] }}</p>
	   <p>3: {{ n.contents[2] }}</p>
	   <p>4: {{ n.contents[3] }}</p>
	   <p>5: {{ n.contents[4] }}</p>
	
	</div>
	
{% endfor %}


<h3>The gallery</h3>

{% give_me gallery site.galleries.first %}

