<% url = @item.new_record? ? {:action=>"create"} : {:action=>"update",:id=>@item.id } %>

<%= form_for @item, :url=>url do |f| %>

	<%= submit_tag %>

	<h3>Site's configuration</h3>

	<table class="wakeThemeForm" class="">
		<tr>
			<th> Title: </th>
			<td> <%= f.text_field 'title', :class=>'' %>  </td>
		</tr>
	</table>
	
	<br />
		
	<h3>Landing page configuration</h3>

	<table class="wakeThemeForm" class="">
		<tr>
			<th> Index locale: </th>
			<td> <%= f.select 'index_locale', @item.locales||[] %></td>
		</tr>
		
		<% for l in @item.locales||[] %>
			<tr>
				<th> Index node for <%= l.upcase %>: </th> 
				<td> <%= f.text_field "locale_to_index_hash[#{l}]", :value=>(@item.locale_to_index_hash||{})[l] %> </td>
			</tr>
		<% end %>
	</table>

	<br />

	<h3>Statistics</h3>

	<table class="wakeThemeForm" class="">
		<tr>
			<th> Disk usage: </th>
			<td> <%=number_to_human_size @item.du %></td>
		</tr>
	</table>
	
	<br />

<% end %>

	<h3>Import / Export</h3>
	
	<%= form_for @item, :url=>import_editor_site_path(@item) do |f| %>
	
	  Import .zip: <%= f.file_field 'file' %>
		&nbsp;&nbsp;
	  <%= link_to 'EXPORT .ZIP', :url=>export_editor_site_path(@item), :method=>:post, :class=>'button' %>

	<% end %>
	
