<% url = @item.new_record? ? {:action=>"create"} : {:action=>"update",:id=>@item.id } %>

<%= form_for @item, :url=>url do |f| %>
	
	<div class="wakeThemeCleanForm">
		<% if not @item.new_record? %>
		  <%=link_to (@item.is_star? ? ico(:star, :black) : ico(:star, :lightgray)), 
			     toggle_star_master_section_path(@item), :method=>:post %>
		  <%=link_to (@item.is_pin? ? ico(:pin, :blue) : ico(:pin, :lightgray)), 
			     toggle_pin_master_section_path(@item), :method=>:post %>
		  <%=link_to (@item.is_hidden? ? ico(:umbrella, :darkblue) : ico(:umbrella, :lightgray)), 
			     toggle_hidden_master_section_path(@item), :method=>:post %>
		  <%=link_to (@item.is_locked? ? ico(:lock_fill, :darkred) : ico(:lock_fill, :lightgray)), 
			     toggle_locked_master_section_path(@item), :method=>:post %>
		<% end %>
		
		<%= f.text_field 'title', :class=>'title' %> 
		
		<%= f.submit 'SAVE', :class=>'button' %>

		<% if not @item.new_record? %>
			<%= link_to ico(:list), editor_section_nodes_path(@item), :title=>"Go to editor's view." %>
		<% end %>
		
		<br/><br/>
		
	</div>

	<h4>Configuration</h4>
  <table class="wakeThemeForm">
  	<!-- <tr>
	    <th>Title:</th>
	 		<td> <%= f.text_field 'title', :class=>'' %> </td>
		</tr> -->
  	<tr>
	    <th>Key:</th>
	 		<td colspan="3"> <%= f.text_field 'key', :class=>'', :size=>16 %> <span class="em80">To generate Liquid drops within template. </td>
		</tr>
  	<tr>
	    <th>Form:</th>
	 		<td> <%= f.select 'form', Elastic::Section::FORMS %> </td>
	    <th>Localization:</th>
	 		<td> <%= f.select 'localization', Elastic::Section::LOCALIZATIONS %> </td>
		</tr>
	</table>


	<br/>
	
	<% if @item.new_record? %>
	
	<% else %>

		<h4>Contents configuration</h4>
	
	  <table class="wakeThemeForm" style="width: 100%;">
			<thead>
				<th> Id </th>
				<th> Key </th>
				<th style="width: 1em;"> # </th>
				<th> Title </th>
				<th> #C </th>
				<th> Type </th>
				<th> Meta </th>
				<th> On </th>
				<th> Action </th>
			</thead>

			<%= f.fields_for :content_configs do |f2| %>
			  <% cc = f2.object %>
				<tr>
					<td> <%= cc.new_record? ? ico('plus') : cc.id %> </td>
		  		<td> <%= f2.text_field :key, :size=>3 %> </td>
					<td> <%= f2.text_field 'position', :size=>1 %> </td>
		  		<td> <%= f2.text_field :title %> </td>
					<td> <%= cc.contents.size %> </td>
	        <td> <%= f2.select :form, Elastic::ContentConfig::FORMS.keys %></td>
	        <td> 
						<% for k in Elastic::ContentConfig::FORMS[cc.form.to_sym] %>
						  <small><%= k %></small>: <%= f2.text_field "meta[#{k}]", :value=>(cc.meta||{})[k], :size=>7 %>
						<% end if cc.form %>		
					</td>
					<td> 
						<%= link_to (cc.is_published? ? ico(:check_alt,:green) : ico(:x_alt,:red)),
					  	cc_toggle_published_master_section_path(@item, cc) if not cc.new_record? %>
					 	<!-- :action=>'cc_toggle_published', :id=>@item.id, :content_config_id=>cc.id  --></td>
					<td>
						<% if f2.object.wake_destroyable? %>
					  	<%= f2.check_box '_destroy' %> destroy 
						<% else %>
						  <%= link_to 'zap', master_section_cc_zap_path(@item,cc.id), :method=>:post, 
						     :data=>{:confirm=>'wake.general.confirm_destroy'.tt} if !cc.contents.empty?%> 
						<% end %>
					</td>
				</tr>
			<% end %>

			<% if @item.content_configs.select{ |x| x.new_record? }.empty? %>
				<tr>
					<td> <%= ico('plus') %></td>
					<td colspan="10"> <%= link_to  'add new content', new_content_config_master_section_path(@item) %> </td>
				</tr>
			<% end %>
		
		</table>
		
		<br/><br/>
		<%=wnote "Cannot destroy content configs, if there are nodes/contents. Destroy nodes/contents first." %>

	<% end %>

<% end %>

	