
<%= link_to ico('plus')+' new section', new_master_section_path %>

<br/><br/>

<table class="wakeThemeList" style="width: 100%">
	<tr>
		<td class="left" colspan="100" style="border: none;">
			<%= render :partial=>'/wake/list_header' %>
		</td>
	</tr>
	
	<tr><td colspan="8" style="height: 4px; border: none;"></td></td>
	<tr><td colspan="8" style="height: 4px; "></td></td>
		
	<tr>
		<td class="center" colspan="100" style="border: none;"> 
			<%#= render :partial=>'employee_filter' %>
		</td>
	</tr>
	

	<tr><td colspan="8" style="height: 4px; border: none;"></td></td>
			
	<%= render :partial=>'section_list_item', :locals=>{:header=>true} %>

	<tr><td colspan="8" style="height: 4px;"></td></tr>

	<%= render :partial=>'section_list_item', :collection=>@items %>	

	<tr><td colspan="8" style="height: 6px;"></td></tr>

	<tr><td class="center" colspan="6"> <%= paginate @items %> </td> </tr>

</table>
