<%
	header ||= false
	item = user_list_item unless header
%>

<% if header %>

	<tr>
		 <th style="" class=""> <%= wake_click_order_by 'id' %> </th>
		 <th style="" class="green"> Role </th>
		 <th style="" class=""> <%= wake_click_order_by 'name' %> </th>
		 <th style="" class=""> <%= wake_click_order_by 'email' %> </th>
		 <th style="" class=""> <%= wake_click_order_by 'site' %> </th>
		 <th style="" class=""> <%= wake_click_order_by 'last_sign_in_at' %> </th>
		 <th style=""> </th>
	</tr>

	<tr>
		<td colspan="8" class="inside">
		
			<% if @item and @item.new_record? %>	
				<div id="<%=dom_id @item %>-form" class="form-container" style="">
					<%= render :partial=>"#{controller._ident}_inline_form" %>
				</div>
			<% else %>
				<div id="<%=dom_id controller._model.new %>-form" class="form-container" style="display: none;"> </div>
			<% end %>
		
		</td>
	</tr>


<% else %>

	<tr id="<%=dom_id item %>" class="hover-parent hilite pointer">
			
			<td <%=wor item %> class="lo-visible"> <%=whl item.id %> </td>				
			<td <%=wor item %> class="hi-visible"> 
				<% if item.master? %><%= ico(:key_fill, :green, "This is a webmaster!") %><% end %>				
			</td>
			<td <%=wor item %> class="hi-visible"> <%=whl item.name %> </td>				
			<td <%=wor item %> class="lo-visible"> <%=whl item.email %> </td>				
			<td <%=wor item %> class=""> 
				<% if item.site %>
					<% if request.host == item.site.host %>
				  	<span class="green b"> <%=whl item.site.host %> </span>
					<% else %>
			  		<span class="small red"> <%=whl item.site.host %> </span>
					<% end %>
				<% end %>
		  </td>				
			<td <%=wor item %> class="lo-visible"> <%=l(item.last_sign_in_at, :format=>:short) if item.last_sign_in_at %> </td>				
			
			<td class="hover-child right"> 			
			    <%= wake_button_destroy item %>
			</td>
	</tr>

	<tr id="<%=dom_id item %>-inside">
		<td colspan="8" class="inside" style="border: none;">
			<div id="<%=dom_id item %>-form" class="form-container" style="">
				<%= render :partial=>"#{controller._ident}_inline_form" if @item and item.id == @item.id %>
			</div>
		</td>
	</tr>
	

<% end %>


