<% url = @item.new_record? ? {:action=>"create"} : {:action=>"update",:id=>@item.id } %>

<%= form_for @item, :url=>url do |f| %>

	<div class="wakeThemeCleanForm">

		<%= f.submit 'SAVE CHANGES', :class=>'button' %>
	
		&nbsp;&nbsp;&nbsp;
		<% if request.host!=@item.host %>
		  <%= link_to 'LETS GO THERE!', @item.uri, :class=>'button' %>
		<% end %>
	
	</div>
	
	<br/>
	

	<h3>General configuration</h3>

	<table class="wakeThemeForm" class="">
		<tr>
			<th> Master: </th>
			<td> <%= @item.master.name %>  </td>
		</tr>
		<tr>
			<th> Host (address): </th>
			<td> <%= f.text_field 'host', :class=>'' %>  </td>
		</tr>
		<tr>
			<th> Title: </th>
			<td> <%= f.text_field 'title', :class=>'' %>  </td>
		</tr>
		<tr>
			<th> Locales: </th>
			<td>  <%= f.text_field 'locales_str', :class=>'' %>  <small>separated by comas</small> </td>
		</tr>
		<% if not @item.new_record? %>
		<tr>
			<th> Theme (directory): </th>
			<td> 
				<% if not @item.valid? %>
				  Record is not valid.
			  <% else %>
				  <%= f.select 'theme', @item.theme_list %> 
				<% end %>
			</td>
		</tr>
		<tr>
			<th> Default gallery settings: </th>
			<td>  <%= f.select 'gallery_id', @item.galleries.map{ |x| [x.title, x.id]} %>  </td>
		</tr>
		<% end %>
	</table>
	
	
	<br />

	<h3>Theme (<%= @item.theme%>) configuration</h3>

	<% if @item.theme.blank? %>
	  Select theme first.
	<% else %>
		<table class="wakeThemeForm" class="">
			<tr>
				<th> Custom index: </th>
				<td>
					<%= f.select 'theme_index', ([nil]+@item.theme_liquids.reject{ |x| x=~/layout/ or x=='head' }) %> &nbsp;&nbsp;
					<small>Default: '<%= @item.theme %>.liquid'</small>
				</td>
			</tr>
			<tr>
				<th> Custom layout: </th>
				<td>
					<%= f.select 'theme_layout', ([nil]+@item.theme_liquids.select{ |x| x=~/layout/ }) %> &nbsp;&nbsp;
					<small>Default: Renders a standard HTML5 document.</small>
				</td>
			</tr>
			<tr>
				<th> Development: </th>
				<td> <%= f.check_box 'is_force_reload_theme' %> reloading theme?</td>
			</tr>
		</table>
	<% end %>
		
	<br/>
	

<% end %>