<% url = @item.new_record? ? {:action=>"create"} : {:action=>"update",:id=>@item.id } %>

<%= form_for @item, :url=>url do |f| %>

	<div class="wakeThemeCleanForm">

		<%= f.submit 'SAVE CHANGES', :class=>'button' %>	
		&nbsp;&nbsp;&nbsp;
		<% if not @item.new_record?%>
			<%= link_to 'LETS GO THERE!', @item.uri, :class=>'button' if request.host!=@item.host %>			
			<small><%= link_to 'COPY/RENEW EXAMPLE THEMES', copy_themes_master_site_path(@item) %></small>
		<% end %>
				
	</div>
	
	<br/>
	

	<h3>General configuration</h3>

	<table class="wakeThemeForm" class="">
		<tr>
			<th> Master: </th>
			<td> <%= @item.master.name %>  </td>
		</tr>
		<tr>
			<th> Host (address): </th>
			<td> <%= f.text_field 'host', :class=>'' %>  </td>
		</tr>
		<tr>
			<th> Title: </th>
			<td> <%= f.text_field 'title', :class=>'' %>  </td>
		</tr>
		<tr>
			<th> Locales: </th>
			<td>  <%= f.text_field 'locales_str', :class=>'' %>  <small>separated by comas</small> </td>
		</tr>
		<% if not @item.new_record? %>
		<tr>
			<th> Theme (directory): </th>
			<td> 
				<% if not @item.valid? %>
				  Record is not valid.
			  <% else %>
				  <%= f.select 'theme', @item.theme_list %> 
				<% end %>
			</td>
		</tr>
		<tr>
			<th> Default gallery settings: </th>
			<td>  
			  <%= f.select 'master_gallery_id', @item.galleries.map{ |x| [x.title, x.id]} %>
			  &nbsp;&nbsp;&nbsp;  
			  <small>
			  	<%= link_to ico(:link)+' '+@item.master_gallery.title, 
			      editor_gallery_path(@item.master_gallery_id) if @item.master_gallery %>
				</small>
			</td>
		</tr>
		<% end %>
	</table>
	
	
	<br />

	<h3>Theme (<%= @item.theme%>) configuration</h3>

	<% if @item.theme.blank? %>
	  Select theme first.
	<% else %>
		<table class="wakeThemeForm" class="">
			<tr>
				<th> Custom index: </th>
				<td>
					<%= f.select 'theme_index', ([nil]+@item.theme_liquids.reject{ |x| x=~/layout/ or x=='head' }) %> &nbsp;&nbsp;
					<small>Default: '<%= @item.theme %>.liquid'</small>
				</td>
			</tr>
			<tr>
				<th> Custom layout: </th>
				<td>
					<%= f.select 'theme_layout', ([nil]+@item.theme_liquids.select{ |x| x=~/layout/ }) %> &nbsp;&nbsp;
					<small>Default: Renders a standard HTML5 document.</small>
				</td>
			</tr>
			<tr>
				<th> Development: </th>
				<td> <%= f.check_box 'is_reload_theme' %> reload theme on each request? </td>
			</tr>
			<tr>
				<th> Theme specification: </th>
				<td> <%= link_to 'CREATE SECTIONS ACCORDING TO THEMESPEC', '', :class=>'button' %></td>
			</tr>
			<tr>
				<th> Theme seed data: </th>
				<td> <%= link_to 'IMPORT DATA ACCORDING TO THEMEDATA', '', :class=>'button' %></td>
			</tr>
		</table>
	<% end %>


	<% if not @item.new_record?%>
	  <br />
		<h3>Import / export (experimental)</h3>
		<table class="wakeThemeForm" class="">
			<tr>
				<th> Export: </th>
				<td>
					<%= link_to 'STRUCTURE', structure_export_master_site_path(@item), :class=>'button', :method=>:post %>
					<%= link_to 'CONTENT', content_export_master_site_path(@item), :class=>'button', :method=>:post %>
				</td>
			</tr>
			<tr>
				<th> Structure: </th>
				<td> <%= f.file_field 'structure_import' %>	</td>
			</tr>
			<tr>
				<th> Content: </th>
				<td> <%= f.file_field 'content_import' %>	</td>
			</tr>
		</table>
	<% end %>
		
	<br />
	
	

<% end %>

<div class="fright" style="background: #EEE;">
	<%=debug @item.tincan_dump 'content' if @item %>
</div>
<div class="fleft">
	<%=debug @item.tincan_dump 'structure' if @item %>
</div>

<div class="fleft" style="background: #EEF">
<%=debug @item.sections.first.errors if @item and @item.sections.first %>
</div>