<% url = @item.new_record? ? {:action=>"create"} : {:action=>"update",:id=>@item.id } %>

<%= form_for @item, :url=>url do |f| %>

	<%= submit_tag %>
	

	<h3>General configuration</h3>

	<table class="wakeThemeForm" class="">
		<tr>
			<th> Master: </th>
			<td> <%= @item.master.name %>  </td>
		</tr>
		<tr>
			<th> Host (address): </th>
			<td> <%= f.text_field 'host', :class=>'' %>  </td>
		</tr>
		<tr>
			<th> Title: </th>
			<td> <%= f.text_field 'title', :class=>'' %>  </td>
		</tr>
		<tr>
			<th> Locales: </th>
			<td>  <%= f.text_field 'locales_str', :class=>'' %>  <small>separated by comas</small> </td>
		</tr>
		<tr>
			<th> Theme (directory): </th>
			<td> 
				<% if @item.new_record? %>
				  Save new record first.
				<% elsif not @item.valid? %>
				  Record is not valid.
			  <% else %>
				  <%= f.select 'theme', @item.theme_list %> 
				<% end %>
			</td>
		</tr>
	</table>
	

	<br />	
	
	<h3>Galleries configuration</h3>
	
	<table class="wakeThemeForm">
		<tr>
			<th> Image: </th>
			<td> 
			  <%= f.text_field "gallery_meta[img_w]", :value=>(@item.gallery_meta||{})['img_w'], :size=>3, :class=>'' %> 
			  <small>x</small>
			  <%= f.text_field "gallery_meta[img_h]", :value=>(@item.gallery_meta||{})['img_h'], :size=>3, :class=>'' %>
			  <small>magick:</small>
			  <%= f.text_field "gallery_meta[img_processing]", :value=>(@item.gallery_meta||{})['img_processing'], :size=>30, :class=>'' %>
			</td>
		</tr>
		<tr>
			<th> Thumbnail A: </th>
			<td> 
			  <%= f.text_field "gallery_meta[tna_w]", :value=>(@item.gallery_meta||{})['tna_w'], :size=>3, :class=>'' %> 
			  <small>x</small>
			  <%= f.text_field "gallery_meta[tna_h]", :value=>(@item.gallery_meta||{})['tna_h'], :size=>3, :class=>'' %>
			  <small>magick:</small>
			  <%= f.text_field "gallery_meta[tna_processing]", :value=>(@item.gallery_meta||{})['tna_processing'], :size=>30, :class=>'' %>
			</td>
		</tr>
	</table>
	
	<br />

	<h3>Theme (<%= @item.theme%>) configuration</h3>

	<% if @item.theme.blank? %>
	  Select theme first.
	<% else %>
		<table class="wakeThemeForm" class="">
			<tr>
				<th> Custom index: </th>
				<td>
					<%= f.select 'theme_index', ([nil]+@item.theme_liquids.reject{ |x| x=~/layout/ or x=='head' }) %> &nbsp;&nbsp;
					<small>Default: '<%= @item.theme %>.liquid'</small>
				</td>
			</tr>
			<tr>
				<th> Custom layout: </th>
				<td>
					<%= f.select 'theme_layout', ([nil]+@item.theme_liquids.select{ |x| x=~/layout/ }) %> &nbsp;&nbsp;
					<small>Default: Renders a standard HTML5 document.</small>
				</td>
			</tr>
			<tr>
				<th> Development: </th>
				<td> <%= f.check_box 'is_force_reload_theme' %> reloading theme?</td>
			</tr>
		</table>
	<% end %>
		
	<br/>
	

<% end %>