<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">		
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
		<% if @site.is_reload_theme %>
			<link type="text/css" rel="Stylesheet" media="all" href="/t/<%= @site.theme %>.css?<%= Random.rand %>"/>
		<% else %>
			<link type="text/css" rel="Stylesheet" media="all" href="/t/<%= @site.theme %>.css"/>
		<% end %>

		
		<%=raw @head %>
	</head>

	<!--[if lt IE 7 ]>   <body class="ie6">          <![endif]-->
	<!--[if IE 7 ]>      <body class="ie7">          <![endif]-->
	<!--[if IE 8 ]>      <body class="ie8">          <![endif]-->
	<!--[if IE 9 ]>      <body class="ie9">          <![endif]-->
	<!--[if (gt IE 9) ]> <body class="modern">       <![endif]-->
	<!--[!(IE)]><!-->    <body class="notIE modern"> <!--<![endif]-->		
		
		<%= yield %>		
		<%= render :partial=>'elastic/public/controls' %>
	</body>
	
</html>