<% 
  f = gallery_config_form 
%>

<table class="wakeThemeForm" class="">
	<tr>
		<th> Options: </th>
		<td> 
		  <%#= f.text_field 'key', :size=>30, :class=>'' %> 
		  <%= f.check_box 'is_watermarked' %> Watermarked?
		  <%= f.check_box 'is_timestamped' %> Version-friendly?
		</td>
	</tr>
	<tr>
		<th> Image processing: </th>
		<td> 
			<% if @item.is_master? %>
			  <%= wnote 'I am the <b>master gallery</b>. Other galleries inherit settings of me.' %>
			<% else %>
			  <%= f.check_box 'is_dependent' %> dependent on:
				<% if @item.site.master_gallery %> 
				  <%= link_to ico(:link)+' '+@item.site.master_gallery.title, editor_gallery_path(@item.site.master_gallery) %>
				<% else %>
				  <b>?</b> <%= wnote 'Your site has no default gallery selected.' %>
				<% end %>
			<% end %>
		</td>
	</tr>
	<% if not @item.is_dependent? %>
	
		<% for v in Elastic::Gallery::VARIANTS %>
			<tr>
				<th> <%=v %> </th>
				<td> 
				  <%= f.text_field "meta[#{v}][w]", :value=>@item.meta[v]['w'], :size=>3, :class=>'' %> 
				  <small>x</small>
				  <%= f.text_field "meta[#{v}][h]", :value=>@item.meta[v]['h'], :size=>3, :class=>'' %>
				  <small>efx:</small>
				  <select name="gallery[meta[<%=v%>][efx]]">
				    <option value=""> - none - </option>
				    <% for key,value in Elastic::Efx::LIST %>
					    <option value="<%= key %>" <% if key.to_s == @item.get_meta(v,:efx) %>selected="selected"<% end %>>
						    <%= key.upcase %> - <%= value[:description] %>
							</option>
				    <% end %>
					</select>		

				  <%#= f.select "meta[#{v}][efx]", Elastic::Efx::LIST.keys, :selected=>@item.meta[v]['efx']  %>
				</td>
			</tr>

			<% efx_name = @item.get_meta(v,:efx) %>

			<% if not efx_name.blank? %>
		  	<% efx = Elastic::Efx.new @item.get_meta(v,:efx), @item.get_meta(v,:params) %>
			  <tr>
				  <th> 
						<% if efx.valid? %>
						  <%= ico(:check_alt, :green) %>
						<% else %>
						  <%= ico(:x_alt, :red) %>
						<% end %>
						&nbsp;
					  EFX params: 
					</th>
				  <td>
					  <% for pk,pv in efx.parameters %>
					    <%= pk %>: 
					    	<%= f.text_field "meta[#{v}][params][#{pk}]", 
					         :value=>(@item.get_meta(v,'params')||{})[pk.to_s], :size=>2, :class=>'right' %>
					    <small><%= pv.to_s.gsub(/percentage/,'%').gsub(/color/,'') %></small>
					      &nbsp;
							<% end %>
					</td>
		  <% end %>	
	  <% end %>

	<% end %>	  
</table>