<% url = @item.new_record? ? {:action=>"create"} : {:action=>"update",:id=>@item.id } %>

<%= form_for @item, :url=>url, :html => {:multipart => true} do |f| %>

<div class="wakeThemeCleanForm">

	<%= f.text_field 'title', :value=>@item.title, :class=>'title' %> &nbsp; 
			
	<%= submit_tag 'OK', :class=>'button' %>
	<a href="#" onclick="" class="button">UPLOAD FILE</a>
	<%= link_to 'DESTROY', '' %>
	<%= link_to 'RESCAN FOLDER', '' %>
	
	<div>
		<h4>File upload</h4>		
		<%= f.file_field 'file' %>
	</div>
	
	<br/>
	
	<% if @filename %>
	  <h4>File details</h4>
	  <%= @filename %>
	  <%= @index %>
		<br/>
			Ino: <%= File.stat( File.join(@item.dir,'orig',@filename) ).ino %>
		<br/>
		<%= debug File.stat( File.join(@item.dir,'orig',@filename) ) %>
	<% end %>
	
	<%# if not @item.non_images.empty? %>
		<h4>Files</h4>
	
		<% for x in @item.non_images %>
		  <div class="item">
			  <%= link_to x, f_edit_editor_gallery_path(@item,@item.files.index(x)) %>
			</div>
		<% end %>
	<%# end %>
	
	<%# if not @item.images.empty? %>
		<h4>Images</h4>
		<% for x in @item.images %>
		  <div class="item">
			  <%= x %>
			</div>
		<% end %>
	<%# end %>
	
	
	<br/>

	<h4>Advanced configuration</h4>
		<table class="wakeThemeForm" class="">
			<tr>
				<th> Key: </th>
				<td> 
				  <%= f.text_field 'key', :size=>10, :class=>'' %> 
				  <%= f.check_box 'is_watermarked' %> <small>Watermarked?</small>
				</td>
			</tr>
			<%= render :partial=>'gallery_meta', :object=>f %>
	  </table>

  <% end %>
</div>


<hr/>

<%=debug @item.files %>
