<% url = @item.new_record? ? {:action=>"create"} : {:action=>"update",:id=>@item.id } %>

	<%= form_for @item, :url=>url, :html => {:multipart => true} do |f| %>

	<%= submit_tag %>
	 <br/><br/>
	
	<div class="wakeThemeCleanForm">

		<%= f.text_field 'title', :value=>@item.title, :class=>'title' %> &nbsp; 
		
		<br/>
		Key: <%= f.text_field 'key', :class=>'' %>
		
		<br/><br/>
		
		<%= f.file_field 'file' %>

		<h3>Meta</h3>
		<% for m in Elastic::Gallery::META %>
			<table class="wakeThemeForm" class="">
				<tr>
					<th> <%= m %> </th>
					<td> <%= f.text_field "meta[#{m}]", :value=>(@item.meta||{})[m], :class=>'' %>  </td>
				</tr>
		  </table>
		<% end %>

	</div>
	<% end %>
