<script>
function get_the_indexes(){
  arr = $('#TheGallery > .active');
	arr = $.map( arr, function(n,i){
		return( 'index[]='+$(n).attr('index') );
	});
	return arr.join('&');
}
</script>
<style>
<% w,h = img_factor @item.get_meta(:tna,:w), @item.get_meta(:tna,:h) %>
.imageItem { width: <%= w %>px; height: <%= h %>px; }
.imageItem img { width: <%= w %>px; height: <%= h %>px; }
</style>


<div class="wakeThemeCleanForm">

<% url = @item.new_record? ? {:action=>"create"} : {:action=>"update",:id=>@item.id } %>

<%= form_for @item, :url=>url, :html => {:multipart => true} do |f| %>


	<% if not @item.new_record? %>
	  <%=link_to (@item.is_star? ? ico(:star, :black) : ico(:star, :lightgray)), 
		     toggle_star_editor_gallery_path(@item), :method=>:post %>
	<% end %>
	
	<%= f.text_field 'title', :value=>@item.title, :class=>'title' %>
	
	&nbsp;
	
	<% if not @item.new_record? %>
	  <%=link_to (@item.is_pin? ? ico(:pin, :blue) : ico(:pin, :lightgray)), 
		     toggle_pin_editor_gallery_path(@item), :method=>:post %>	
	  <%=link_to (@item.is_locked? ? ico(:lock_fill, :darkred) : ico(:lock_fill, :lightgray)), 
		     toggle_locked_editor_gallery_path(@item), :method=>:post %>
	  <%=link_to (@item.is_hidden? ? ico(:umbrella, :darkblue) : ico(:umbrella, :lightgray)), 
		     toggle_hidden_editor_gallery_path(@item), :method=>:post %>
	<% end %>
			
	<%= submit_tag 'OK', :class=>'button' %>

	<% if not @item.new_record? %>
	  &nbsp;&nbsp;
		<small>Files:</small>
		<a href="#" class="button" onclick="$('#FileUpload').toggleClass('hidden');">UPLOAD</a>
		
		<a href="#" class="button" onclick="$('.fileItem').toggleClass('active');$('.imageItem').toggleClass('active');">SELECT</a>
		<% if not @item.file_records.empty?  %>
			<% path = f_destroy_editor_gallery_path(@item) %>
			<a href="#" class="button" onclick="if( confirm('<%= 'wake.general.confirm_destroy'.tt %>') ){ document.location = '<%=path%>' + '?' + get_the_indexes(); }">DESTROY</a>
			<% path = f_star_editor_gallery_path(@item) %>
			<a href="#" class="button" onclick="document.location = '<%=path%>' + '?' + get_the_indexes();">STAR</a>
		<% end %>
		<%= link_to 'RE-PROCESS', regenerate_editor_gallery_path(@item), :method=>:post, :confirm=>'Sure?' %>
		
		&nbsp;
		
		<small>Gallery:</small>
		<%= link_to 'DUPLICATE', ''%>
		
		<% if not @item.is_locked? %>
			<a href="#" class="button" onclick="$('#TheConfig').toggleClass('hidden');">CONFIG</a>
			<% if @item.file_records.empty? %>
			  <%= link_to 'DESTROY', {:action=>'destroy', :id=>@item.id}, :method=>:delete, :confirm=>'wake.general.confirm_destroy' %>
			<% end %>
		<% end %>
		
	<% end %>

	<!-- </div> -->
		
	 &nbsp; 
	
	<br/><br/>
	<% if not @item.new_record? %>
		<small>Access me via FTP:</small> /galleries/<%= f.text_field 'key', :class=>'' %><br/>
	<% end %>
	
	
	<br/>
	
	<div id="FileUpload" class="<%= 'hidden' unless wake_referer_param? :gallery, :file %>">		
		<table class="wakeThemeForm">
			<tr>
				<th> File upload: </th>
				<td> <%= f.file_field 'file' %> <%= submit_tag 'UPLOAD', :class=>'button' %></td>
			</tr>
		</table>
		<br/><br/>
	</div>	
	

	<div id="TheConfig" class="<%= 'hidden' unless wake_referer_param? :visible_cfg %>"
	  onclick="$('#VisibleCfg').attr('value','true')">
		<input id="VisibleCfg" type="hidden" name="visible_cfg" value="" />
		<h4>Advanced configuration</h4>
		
		<% if @item.new_record? %>
			Save new record first.
		<% else %>
			<%= render :partial=>'gallery_config_form', :object=>f%>
		<% end %>

		<br/><br/>
	</div>
	

<% end %>
</div>


<div id="TheGallery" class="wakeThemeGallery">
	
	<%= render :partial=>'/elastic/editor/file_records/file_record_list_item', :collection=>@item.file_records.non_images %>
	<div class="clear"></div>
	<%= render :partial=>'/elastic/editor/file_records/file_record_list_item', :collection=>@item.file_records.images %>
	<div class="clear"></div>
</div>

<br/>


<% rel = @item.site.contents.where(:reference_id=>@item.id, :reference_type=>'Elastic::Gallery') %>
<% if rel.exists? %>
	<div id="TheReferences">
		<br/>
		<!-- <h4>This gallery is referenced by:</h4> -->
		<% for c in rel.all %>
		  <%= link_to ico(:link)+' '+c.node.title_dynamic, editor_section_node_path(c.node.section, c.node) %> 
		  <% if c.content_config.form == 'autogallery'%>(auto)<% end %>
		  &nbsp;
		<% end %>
	</div>
<% end %>