<div class="wakeThemeCleanForm">

<% url = @item.new_record? ? {:action=>"create"} : {:action=>"update",:id=>@item.id } %>

<% if @file_record %>

	<h4>File record - Edit</h4>

	<%= form_for @file_record, :url=>f_update_editor_gallery_path(@item,@file_record.id) do |f| %>

		<%= f.text_field 'filename' %>
		<%= f.text_field 'title' %>
		<%= f.text_field 'id' %>
		
		<%= submit_tag 'OK'%>
		
	<% end %>
	<br/>

<% end %>


<%= form_for @item, :url=>url, :html => {:multipart => true} do |f| %>


	<%= f.text_field 'title', :value=>@item.title, :class=>'title' %> &nbsp; 
			
	<%= submit_tag 'OK', :class=>'button' %>
	<a href="#" onclick="" class="button">UPLOAD FILE</a>
	<%= link_to 'DESTROY', '' %>
	<%= link_to 'RESCAN FOLDER', '' %>
	
	<div>
		<h4>File upload</h4>		
		<%= f.file_field 'file' %>
	</div>	
	
	<br/>

	<% if @item.new_record? %>
	<% else %>
		<%# if not @item.non_images.empty? %>
			<h4>Files</h4>
	
			<% for fr in @item.file_records %>
			  <div class="item">
				  <%= link_to fr.filename, f_edit_editor_gallery_path(@item,fr) %>
				</div>
			<% end %>
		<%# end %>
	
		<%# if not @item.images.empty? %>
			<h4>Images</h4>
			<% for fr in @item.file_records.images %>
			  <div class="item">
				  <%= fr.filename %>
				</div>
			<% end %>
		<%# end %>
	<% end %>
	
	
	<br/>

	<div id="TheConfiguration" style="">
		<h4>Advanced configuration</h4>
		<table class="wakeThemeForm" class="">
			<tr>
				<th> Key: </th>
				<td> 
				  <%= f.text_field 'key', :size=>10, :class=>'' %> 
				  <%= f.check_box 'is_watermarked' %> <small>Watermarked?</small>
				</td>
			</tr>
			<%= render :partial=>'gallery_meta', :object=>f %>
	  </table>
	</div>

  <% end %>


<hr/>

<%=debug @item.files if not @item.new_record? %>


</div>
