<script>
function get_the_indexes(){
  arr = $('.wakeThemeGallery > .active');
	arr = jQuery.map( arr, function(n,i){
		return( 'index[]='+$(n).attr('index') );
	});
	return arr.join('&');
}
</script>
<style>
.imageItem { width: <%= @item.get_meta(:tna,:w) %>px; height: <%= @item.get_meta(:tna,:h) %>px; }
.popup table { position: relative; left: <%= @item.get_meta(:tna,:w).to_i+5 %>px; }
</style>

<div id="PopUp">
</dvi>

<div class="wakeThemeCleanForm">

<% url = @item.new_record? ? {:action=>"create"} : {:action=>"update",:id=>@item.id } %>

<h4>File record - Edit</h4>

<!-- <% for item in @item.file_records %>
	<div id="<%=dom_id item%>-form"  class="form-container">
		<% if @item and @item.id == item.id %>
		  <%= render :partial=>'file_record_inline_form', :object=>@item %>
		<% end %>
	</div>
<% end %> -->

<br/>


<%= form_for @item, :url=>url, :html => {:multipart => true} do |f| %>


	<% if not @item.new_record? %>
	  <%=link_to (@item.is_star? ? ico(:star, :black) : ico(:star, :lightgray)), 
		     toggle_star_editor_gallery_path(@item), :method=>:post %>
	  <%=link_to (@item.is_hidden? ? ico(:umbrella, :darkblue) : ico(:umbrella, :lightgray)), 
		     toggle_hidden_editor_gallery_path(@item), :method=>:post %>
	  <%=link_to (@item.is_locked? ? ico(:lock_fill, :darkred) : ico(:lock_fill, :lightgray)), 
		     toggle_locked_editor_gallery_path(@item), :method=>:post %>
	<% end %>
	<%= f.text_field 'title', :value=>@item.title, :class=>'title' %> &nbsp; 
			
	<%= submit_tag 'OK', :class=>'button' %>

	<% if not @item.new_record? %>
	  &nbsp;&nbsp;
		<small>Files:</small>
		<a href="#" class="button" onclick="">UPLOAD</a>
		
		<% path = f_destroy_editor_gallery_path(@item) %>
		<a href="#" class="button" onclick="if( confirm('<%= 'general.confirm_destroy' %>') ){ document.location = '<%=path%>' + '?' + get_the_indexes(); }">DESTROY</a>
		<a href="#" class="button" onclick="$('.fileItem').toggleClass('active');$('.imageItem').toggleClass('active');">SELECT</a>
		<%= link_to 'RE-PROCESS', regenerate_editor_gallery_path(@item), :method=>:post, :confirm=>'Sure?' %>
		
		&nbsp;
		
		<small>Gallery:</small>
		<%= link_to 'DUPLICATE', ''%>
		
	<% end %>

	</div>
	
	<br/>
	
	<div id="FileUpload">		
		<table class="wakeThemeForm">
			<tr>
				<th> File upload: </th>
				<td> <%= f.file_field 'file' %> <%= submit_tag 'OK' %></td>
			</tr>
		</table>
	</div>	
	
	<br/>

	<div id="TheConfiguration" style="">
		<h4>Advanced configuration</h4>
		<table class="wakeThemeForm" class="">
			<tr>
				<th> Key: </th>
				<td> 
				  <%= f.text_field 'key', :size=>30, :class=>'' %> 
				  <%= f.check_box 'is_watermarked' %> <small>Watermarked?</small>
				</td>
			</tr>
			<%= render :partial=>'gallery_meta', :object=>f %>
	  </table>
	</div>

<% end %>
</div>

<hr/>


<div class="wakeThemeGallery">
	
	<%= render :partial=>'/elastic/editor/file_records/file_record_list_item', :collection=>@item.file_records.non_images %>
	<div class="clear"></div>
	<%= render :partial=>'/elastic/editor/file_records/file_record_list_item', :collection=>@item.file_records.images %>
	<div class="clear"></div>
</div>


<!-- 
	
	<br/>

	<% if @item.new_record? %>
	<% else %>
		<% if not @item.non_images.empty? %>
			<div class="wakeThemeGallery">
				<% for fr in @item.file_records.non_images %>
				  <% extname = File.extname(fr.filename).upcase %>
				  <div id="<%=dom_id fr%>" class="fileItem" onclick="$(this).toggleClass('active');" index="<%= fr.id %>">
					  <%#= link_to fr.filename.gsub(/\..*$/,''), f_edit_editor_gallery_path(@item,fr) %>
					  <%= link_to fr.filename.gsub(/\..*$/,''), editor_gallery_file_record_path(@item,fr), :remote=>true %>
					  &nbsp;
  					<b><%= extname.gsub(/^\./,'') %></b>
					</div>
					<div id="<%=dom_id fr%>-form"></div>
				<% end %>
				<div class="clear"></div>
			</div>
			
		<% end %>
	
		<% if not @item.images.empty? %>			
			<div class="wakeThemeGallery">
				<% for fr in @item.file_records.images %>
				  <div id="<%=dom_id fr%>" class="imageItem" onclick="$(this).toggleClass('active');" index="<%= fr.id %>" alt="<%= fr.filename %>">
						<img src="<%= fr.path(:tna) %>" />
						<%= fr.filename %>
					  <%#= fr.path %>
					  <%#= fr.filename %> <%#= link_to 'show', fr.path('tna') %>
					</div>
				<% end %>
				<div class="clear"></div>
			</div>
		<% end %>
	<% end %>
	 -->

<hr/>

<%#=debug @item.files if not @item.new_record? %>
