<% url = @item.new_record? ? {:action=>"create"} : {:action=>"update",:id=>@item.id } %>

<%= form_for @item, :url=>url, :html => {:multipart => true} do |f| %>

<div class="wakeThemeCleanForm">

	<%= f.text_field 'title', :value=>@item.title, :class=>'title' %> &nbsp; 
			
	<%= submit_tag 'OK', :class=>'button' %>
	<a href="#" onclick="" class="button">UPLOAD FILE</a>
	
	<div>
		<h4>File upload</h4>		
		<%= f.file_field 'file' %>
	</div>
	
	<br/>

	<h4>Advanced configuration</h4>
		<table class="wakeThemeForm" class="">
			<tr>
				<th> Key: </th>
				<td> 
				  <%= f.text_field 'key', :size=>10, :class=>'' %> 
				  <%= f.check_box 'is_watermarked' %> <small>Watermarked?</small>
				</td>
			</tr>
			<%= render :partial=>'gallery_meta', :object=>f %>
	  </table>

  <% end %>
</div>


<hr/>

<%=debug @item.files %>
