<style>
.galleryItem { float: left; overflow: hidden; height: 150px; padding: 5px; }
.galleryItem .inner { height: 130px;  }
.galleryItem .inner img { height: 130px; max-width: 500px; display: block; margin: auto; }
.galleryItem .desc { overflow: hidden; height: 2em; margin-top: 4px; text-align: center;  }
</style>

<%= link_to ico('plus')+' new gallery', new_editor_gallery_path %>

<br/><br/>

<div class="wakeThemeList">
	
	<% for item in Elastic::Context.site.galleries %>
		<div <%=wo item %> class="galleryItem">
			<div class="inner">
				<% if item.frs.images.empty? %>
					<% for fr in item.frs %>
					  <%= fr.filename %><br/>
					<% end %>
				<% else %>
				  <% x = item.frs.images.first  %>
				  <% if item.has_variant? :tna %>
				  	<%= image_tag x.path(:tna) %> 
				  <% elsif item.has_variant? :img %>
			  		<%= image_tag x.path(:img) %> 
				  <% else %>
		  			<%= image_tag x.path(:orig) %> 
				  <% end %>
				<% end %>
			</div>
			<div class="desc">
			  <%#=link_to (item.is_hidden? ? ico(:umbrella, :darkblue) : ico(:umbrella, :lightgray)), 
				     toggle_hidden_editor_gallery_path(item), :method=>:post %>
			  <%#=link_to (item.is_locked? ? ico(:lock_fill, :darkred) : ico(:lock_fill, :lightgray)), 
				     toggle_locked_editor_gallery_path(item), :method=>:post %>
			  <%#=link_to (item.is_star? ? ic(:star_16x16, :black) : ic(:star_16x16, :gray_light)), 
				     toggle_star_editor_gallery_path(item), :method=>:post %>
			  <%=link_to (item.is_star? ? ico(:star, :black) : ico(:star, :lightgray)), 
				     toggle_star_editor_gallery_path(item), :method=>:post %>
				<b><%= item.title.truncate(30) %></b>
				<%#= ic(:pin_16x16, :cyan) if item.is_pin? %>
				<%#= ic(:umbrella_16x16, :blue) if item.is_hidden? %>
				<%#= ic(:lock_fill_12x16, :red) if item.is_locked? %>
				<%= ico(:pin, :blue) if item.is_pin? %>
				<%= ico(:umbrella, :darkblue) if item.is_hidden? %>
				<%= ico(:lock_fill, :darkred) if item.is_locked? %>
			</div>

		</div>

	<% end %>
	
</div>

<div class="clear"></div>