<h2>Congratulations, you are running the <b>Elastic CMS</b> site!</h2>

<address class="shadow">
{% md %} 
  Hey, you can go to [login window](/login) and log in as `admin@example.com` with password `password`.
{% endmd %}
</address>


<h5>This is an "hello_world" theme from in SITE_HOME/themes. This is Liquid Markup Language.</h5>

<h3>Navigation menu <span class="note">(with highliting)</span></h3>

<div>
	<div>
		<i>Menu:</i>
		{% for l in site.locales %}
		  <a href="/{{l}}" class="{% if l == locale %}active{% endif %}">{{ l | upcase }}</a>
		{% endfor %}
	</div>
	{% for s in site.sections %}
	  <div>
			<i>Menu:</i>
		  <b><a href="{{s.path}}" class="{% if s == section %}active{% endif %}">{{ s.title }}</a></b>:
			{% for n in s.roots %}
			  <a href="{{n.path}}" class="{% if n == node %}active{% endif %}">{{n.title}}</a>
			{% endfor %}
		</div>
	{% endfor %}
	
	{% if node %}
		<div>
			<i>Tree navigator:</i>
			{% for n in node.ancestors %}
			  <a href="{{n.path}}">{{n.title}}</a> &rarr;
			{% endfor %}
			<b>{{node.title}}</b> &rarr;
			
		  {% for n in node.children %}
				<a href="{{n.path}}">{{n.title}}</a> 
		  {% endfor %}
						
		</div>
	{% endif %}
</div>	

<h3>Markdown</h3>

{% md %} 
#### this site: {{site}}
{% endmd %}

<h3>Structure</h3>

{% raw %}
	<code>
	  {% give_me node 16 %}
  	{{ the_node.title }}
	</code>
{% endraw %}

{% give_me node 16 %} {{ the_node.title }}
{% give_me gallery the_node.title %}

<p>the_node.title: {{ the_node.title }}</p>
<p>the_node.contents[0]: {{ the_node.contents[0] }}</p>

<p>the_gallery.title: {{ the_gallery.title }}</p>

<h4>Parials - inside theme</h4>

{% raw %}<code>{% include 'current_theme/partial' the_str: 'nice string' the_int: 16 the_object: site %}</code>{% endraw %}

<br/><br/>

{% include 'current_theme/partial' the_str: 'nice string' the_int: 16 the_object: site %}

<h4>Partials - outside theme</h4>

<a href="/{{locale}}/editor/galleries/{{site.galleries.id}}/edit">EDIT GALLERY</a>

{% raw %}<pre>
{% give_me gallery site.galleries.first %}
{% include 'fragments/rndrfero/gallery_classic' %}
</pre>{% endraw %}

{% give_me gallery site.galleries.first %}
{% include 'fragments/rndrfero/gallery_classic' %}

{% raw %}<pre>
{% give_me gallery site.galleries.first %}
{% include 'fragments/rndrfero/gallery_ad' %}
</pre>{% endraw %}

{% give_me gallery site.galleries.first %}
{% include 'fragments/rndrfero/gallery_ad' %}

	
<h3>Global drops</h3>

<table>
		<tr> <th> params </th> <td> {{ params }} </td> </tr>
		<tr> <th> locale </th> <td> {{ locale }} </td> </tr>
		<tr> <th> action </th> <td> {{ action }} </td> </tr>
		<tr> <th> key </th> <td> {{ key }} </td> </tr>
		
		<tr> 
			<th> section_[key] </th> 
			<td> <i>Section is available directly by its key. In this context there are 
				{% for x in site.section_keys %}<b>section_{{x}}</b> {% endfor %}.</i> </td> 
		</tr>
</table>


<h3>Site drops</h3>

<table>
	<tr> <th> site.title </th> <td> {{ site.title }} </td> </tr>
	<tr> <th> site.locales </th> <td> <i>array:</i> {{ site.locales }} </td> </tr>	
	<tr> <th> site.sections </th> <td> <i>array of SectionDrop:</i> {{ site.sections }} </td> </tr>
	<tr> <th> site.section_keys </th> <td> {{ site.section_keys }} </td> </tr>
	<tr> <th> site.sections.first.title </th> <td> {{ site.sections.first.title }} </td> </tr>
	<tr> <th> site.galleries </th> <td> <i>array of GalleryDrop:</i> {{ site.galleries }} </td> </tr>
</table>

<h3>Gallery drops (site.galleries.first)</h3>
<table>
	<tr> <th> site.galleries.first.title </th> <td> {{ site.galleries.first.title }} </td> </tr>
	<tr> <th> site.galleries.first.path </th> <td> {{ site.galleries.first.path }} </td> </tr>
	<tr> <th colspan="2" class="note"> FileRecordDrops </th> </tr>
	<tr> <th> site.galleries.first.files </th> <td><i>array of FileRecordDrops:</i> {{ site.galleries.first.files }} </td> </tr>
	<tr> <th> site.galleries.first.images </th> <td><i>array of FileRecordDrops:</i> {{ site.galleries.first.images }} </td> </tr>
	<tr> <th> site.galleries.first.non_images </th> <td><i>array of FileRecordDrops:</i> {{ site.galleries.first.non_images }} </td> </tr>	
</table>

<h3>FileRecord drops (assign x = site.galleries.first.fr_images.first)</h3>
{% assign x = site.galleries.first.images.first %}
<table>
	<tr> <th> x.title </th> <td> {{ x.title }} </td> </tr>
	<tr> <th> x.filename </th> <td> {{ x.filename }} </td> </tr>
	<tr> <th> x.path </th> <td> {{ x.path }} </td> </tr>
	<tr> <th> x.path_orig </th> <td> {{ x.path_orig }} </td> </tr>
	<tr> <th> x.path_img </th> <td> {{ x.path_img }} </td> </tr>
	<tr> <th> x.path_tna </th> <td> {{ x.path_tna }} </td> </tr>
	<tr> <th> x.path_tnb </th> <td> {{ x.path_tnb }} </td> </tr>
</table>

<h3>Section drops (current section)</h3>

{% if section %}
<table>
	<tr> <th> section.title </th> <td> {{ section.title }} </td> </tr>
	<tr> <th> section.key </th> <td> {{ section.key }} </td> </tr>
	<tr> <th> section.localization </th> <td> {{ section.localization }} </td> </tr>
	<tr> <th> section.roots </th> <td> <i>array of NodeDrops:</i> {{ section.roots }}  </td> </tr>
	<tr> <th> section.nodes </th> <td> <i>array of NodeDrops:</i> {{ section.nodes }}  </td> </tr>
	<tr> <th> section.nodes_starry </th> <td> <i>array of NodeDrops:</i> {{ section.nodes_starry }}  </td> </tr>
	<tr> <th> section.roots_starry </th> <td> <i>array of NodeDrops:</i> {{ section.roots_starry }}  </td> </tr>
	<tr> <th> section.nodes.first.title </th> <td> {{ section.nodes.first.title }} </td> </tr>
</table>
{% else %}
  <i>We are in no section right now.</i>
{% endif %}


<h3>Node drops (current node)</h3>

{% if node %}
<table>
	<tr> <th> node.title </th> <td> {{ node.title }} </td> </tr>
	<tr> <th> node.id </th> <td> {{ node.id }} </td> </tr>
	<tr> <th> node.key </th> <td> {{ node.key }} </td> </tr>
	<tr> <th> node.path </th> <td> {{ node.path }} </td> </tr>
	<tr> <th> node.section </th> <td> <i>SectionDrop:</i> {{ node.section }} </td> </tr>
</table>
{% else %}
  We are viewing no node right now.
{% endif %}

<h3>Node contents (current node)</h3>

{% if node %}
	<table>
		<tr> <th> node.contents </th> <td> <i>array of ContentDrops:</i> {{ node.contents }}  </td> </tr>
		<tr> <th> node.content1 </th> <td> <i>ContentDrop:</i> {{ node.content1 }} </td> </tr>
		<tr> <th> node.content1.form </th> <td> {{ node.content1.form }} </td> </tr>
		<tr> <th> node.content1.meta </th> <td> {{ node.content1.meta }} </td> </tr>
		<tr> <th> node.content1.text </th> <td> {{ node.content1.text }} </td> </tr>
  </table>
{% else %}
  We are not showing node right now.
{% endif %}

<h3>Node navigation (current node)</h3>
{% if node %}
	<table>
		<tr> <th colspan="2" class="note"> Single </th> </tr>
		<tr> <th> node.parent </th> <td> <i>SectionDrop:</i> {{ node.parent }} </td> </tr>
		<tr> <th> node.root </th> <td> <i>SectionDrop:</i> {{ node.root }} </td> </tr>
		
		<tr> <th colspan="2" class="note"> Array </th> </tr>
		<tr> <th> node.children </th> <td> <i>array of SectionDrop:</i> {{ node.children }} </td> </tr>
		<tr> <th> node.ancestors </th> <td> <i>array of SectionDrops:</i> {{ node.ancestors }} </td> </tr>
		<tr> <th> node.siblings </th> <td> <i>array of SectionDrops:</i> {{ node.siblings }} </td> </tr>
		<tr> <th> node.descendants </th> <td> <i>array of SectionDrops:</i> {{ node.descendants }} </td> </tr>
		<tr> <th> node.subtree </th> <td> <i>array of SectionDrops:</i> {{ node.subtree }} </td> </tr>
		
		<tr> <th colspan="2" class="note"> Boolean </th> </tr>
		<tr> <th> node.is_root? </th> <td> {{ node.is_root? }} </td> </tr>
		<tr> <th> node.has_children? </th> <td> {{ node.has_children? }} </td> </tr>
		<tr> <th> node.is_childless? </th> <td> {{ node.is_childless? }} </td> </tr>
		<tr> <th> node.has_siblings? </th> <td> {{ node.has_siblings? }} </td> </tr>
		<tr> <th> node.is_only_child? </th> <td> {{ node.is_only_child? }} </td> </tr>
		
	</table>
{% else %}
  Hey, you are looking at no node right now.
{% endif %}

<br/><br/>